<div>
  <mat-paginator [length]="books.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10,20,50]"
    (page)="changePage($event)">
  </mat-paginator>
  <div class="grid">
    <div *ngFor="let book of booksOnPage; index as i;" class="grid-block">
      <p>
        <img *ngIf="book.cover_i != null && book.cover_i != 0" src="{{ 'http://covers.openlibrary.org/b/id/' + book.cover_i.toString()+ '-S.jpg' }}">
      </p>
      <h2>
        {{book.title}}
      </h2>
      <p *ngIf="book.first_publish_year != 0">
        {{book.first_publish_year}}
      </p>
    </div>
  </div>
  <mat-paginator *ngIf="booksOnPage.length > 20" [length]="books.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10,20,50]"
                 (page)="changePage($event)">
  </mat-paginator>
</div>
