<p>bookresults works!</p>
<mat-paginator [length]="100"
               [pageSize]="100"
               [pageSizeOptions]="[100]">
</mat-paginator>
<mat-grid-list [cols]="columns" rowHeight="2:1" (window:resize)="onResize($event)" *ngFor="let book of books; index as i;">
  <mat-grid-tile>
    <div>
      <span>Title</span><span>{{book.title}}</span>
    </div>
    <div>
      <span>Year</span><span>{{book.first_publish_year}}</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div>results for {{ searchTerm }}</div>
